@model LibrosPrograWebFinal.Models.Generosliterarios

<h2>Agregar Generos Literarios</h2>

<form method="post" action="~/Admin/Generos/Agregar">
    <div>
        <label for="NombreAutor">Nombre Completo:</label>
        <input type="text" name="NombreGenero" required />
    </div>

    <button type="submit">Agregar</button>
</form>

<h3 style="color:red;">
    @Html.ValidationSummary()
</h3>
<a href="~/Admin/Generos/Index">Volver a la lista</a>
