@model LibrosPrograWebFinal.Models.Generosliterarios
@{
	Layout = "_LayoutAdmin";
}
<div class="agg">
	<h2>Eliminar Genero</h2>



	<form method="post" action="~/Admin/Generos/Eliminar">
		<div>
			<h3 id="h3">¿Estás seguro de que deseas eliminar este genero?</h3>
			<input type="hidden" name="IdGenero" value="@Model.IdGenero" />

			<label><strong>Nombre del genero:</strong></label><br />
			<input type="text" name="NombreGenero" value="@Model.NombreGenero" readonly /><br />

			<p style="color:red; font-size:16px;">@Html.ValidationSummary()</p>
		</div>

		<button type="submit">Eliminar</button>
		<a href="~/Admin/Autores/Index" id="backC">Cancelar</a>
	</form>
	
	</div>
