@model IEnumerable<LibrosPrograWebFinal.Models.Generosliterarios>
@{
    Layout = "_LayoutAdmin";
}

<div class="indexAutores">
<h1>Generos Registrados</h1>
    <a class="aG" ; href="~/Admin/Generos/Agregar"><strong>Agregar</strong><span style="margin:0px; font-size:15px;color:#49724B;">+</span></a>
<div class="container" style="display: flex; flex-wrap: wrap; gap: 16px; align-items: flex-start;">
    @foreach (var genero in Model)
    {
        <div class="info">
            <input type="hidden" value="@genero.IdGenero" />
            <h3>@genero.NombreGenero</h3>
            <div>
                <a href="~/Admin/Generos/Editar/@genero.IdGenero">Editar</a> |
                <a href="~/Admin/Generos/Eliminar/@genero.IdGenero">Eliminar</a>
            </div>
        </div>
    }
</div>
</div>