@model IEnumerable<LibrosPrograWebFinal.Models.Generosliterarios>
@{
    Layout = "_Layout";
}
<h1>Generos Registrados</h1>
<a style="text-decoration:none" ; href="~/Admin/Generos/Agregar"><strong>Agregar Genero</strong><span style="margin:20px; font-size:15px;color:red;">+</span></a>
<div style="display: flex; flex-wrap: wrap; gap: 16px; align-items: flex-start;">
    @foreach (var genero in Model)
    {
        <div style="border: 1px solid #ccc; padding: 16px; width: 250px; border-radius: 4px;">
            <input type="hidden" value="@genero.IdGenero" />
            <h3>@genero.NombreGenero</h3>
            <div>
                <a href="~/Admin/Generos/Editar/@genero.IdGenero">Editar</a> |
                <a href="~/Admin/Generos/Eliminar/@genero.IdGenero">Eliminar</a>
            </div>
        </div>
    }
</div>