@model IEnumerable<LibrosPrograWebFinal.Models.Autores>
@{
    Layout = "_LayoutAdmin";
}

<div class="indexAutores">
    <h1>Autores Registrados</h1>
    <a class="a" ; href="~/Admin/Autores/Agregar"><strong>Agregar Autor</strong><span style="margin:10px; font-size:15px;color:#49724B;">+</span></a>
    <div class="container">
        @foreach (var autor in Model)
        {
            <input type="hidden" value="@autor.IdAutor" />
            <div class="info">
                <h3>@autor.NombreAutor</h3>
                <p><strong>Fecha de Nacimiento:</strong> @autor.FechaNacimiento?.ToString("dd-MM-yyyy")</p>
                <p><strong>Nacionalidad:</strong> @autor.Nacionalidad</p>
                <div>
                    <a href="~/Admin/Autores/Editar/@autor.IdAutor">Editar</a> |
                    <a href="~/Admin/Autores/Eliminar/@autor.IdAutor">Eliminar</a>
                </div>
            </div>
        }
    </div>
</div>